[data-aos="fade-up"] {
  transition: all 0.3s ease;
}

[data-aos="fade-down"] {
  transition: all 0.3s ease;
}

[data-aos="fade-left"] {
  transition: all 0.3s ease;
}

[data-aos="fade-right"] {
  transition: all 0.3s ease;
}

[data-aos="zoom-in"] {
  transition: all 0.3s ease;
}

[data-aos="zoom-in-up"] {
  transition: all 0.3s ease;
}

[data-aos="flip-left"] {
  transition: all 0.3s ease;
}
